<%- include('../partials/head.ejs') %>

<body>
    <header class="header--container ">
      <nav>
        <ul class="header--nav--list">
          <li>
            <a href="/">Back to the shop!</a>
          </li>
          <li>
            <a href="/addproduct">Add new product!</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="notfound--container">
      <h1>Under construction!</h1>
      <img src="https://media.istockphoto.com/vectors/error-page-or-file-not-found-icon-vector-id924949200?k=20&m=924949200&s=170667a&w=0&h=-g01ME1udkojlHCZeoa1UnMkWZZppdIFHEKk6wMvxrs=" alt="404">
    </div>
</body>
</html>