<nav>
  <ul class="header--nav--list">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/products">Products</a>
    </li>
    <li>
      <a href="/cart">Cart</a>
    </li>
    <li>
      <a href="/orders">Orders</a>    
    </li>
    <li>
      <a href="/admin/addproduct">Admin - Add a new product</a>
    </li>
    <li>
      <a href="/admin/products">Admin - Product List</a>
    </li>
  </ul>
</nav>