<%- include('../partials/head.ejs') %>

<body>
<header class="header--container">
    <nav>
      <ul class="header--nav--list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/products">Products</a>
        </li>
        <li>
          <a href="/cart">Cart</a>
        </li>
        <li>
          <a href="/admin/addproduct">Admin - Add a new product</a>
        </li>
        <li>
          <a href="/admin/product-list">Admin - Product List</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="main container">
    <h1 class="title">Cart</h1>
    <button>
      <a href="./checkout">Confirm and checkout!</a>
    </button>
  </main>
</body>
</html>