<%- include('../partials/head.ejs') %>

<body>
<header class="header--container">
    <%- include('../partials/navigation.ejs') %> 
  </header>
  <main class="main container">
    <h1 class="title"><%= pageTitle %> </h1>
    <div class="checkout--buttons">
      <button class="review--button">
        <a href="/cart">I want to review my cart</a>
      </button>
      <button class="pay--button">
        Pay
      </button>
    </div>
  </main>
</body>
</html>