<%- include('../partials/head.ejs') %>

<body>
<header class="header--container">
    <%- include('../partials/navigation.ejs') %> 
  </header>
  <main class="main-container">
    <h1 class="title">Orders</h1>
  </main>
</body>
</html>